@media (max-width: 1200px){
    /* .container {
    max-width: 930px; */
  }

  /* .single-card__wrap {
    flex-direction: column;
  } */

  /* .content-main__list { 
    grid-template-columns: repeat(2, 1fr);
  }  */
}

  
@media (max-width: 992px) {

    /* .container {
    max-width: 730px;
  } */
  
  /* .content-box {
    flex-direction: column;
  } */
  
  /* .content-main {
    width: 100%;
  }

.content-side__title {
    font-size: 22px;
  } */
}

    
@media (max-width: 786px){
    /* .container {
    max-width: 100%;
  } */
  
  /* .header-box {
    gap: 24px;
    flex-direction: column;
    align-items: baseline;
  }
  
    .search-btn-text {
      display: none;
    }     
    
    .content-main__title {
        font-size: 20px;
    } */
}

@media (max-width: 576px) {
    /* .content-side__title, .content-side__list{
      text-align: center;
    } */

    /* .back-btn {
        display: flex;
        justify-self: center;
    } 

    .footer {
          text-align: center;
        }
} */
    
@media (max-width: 320px) {

    .content-main__list { 
        grid-template-columns: repeat(1, 1fr);
    } 
}