.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(229, 229, 229);
    padding: 10px 0 30px 0;
    gap: 4px;
  }
  
  .footer-item {  
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: rgb(196, 196, 196);
  }
  
  .footer-link {
    font-size: 12px;
    color: rgb(196, 196, 196);
    text-decoration: initial;
  }

  